.col-2 {}

.container {
    display: flex;
}

.col-12 {

    padding: 50px 20px;
    background: rgb(148, 120, 175);
}

.col-10 {}

.border {
    border: solid 2px red;
    background: rgb(148, 120, 175);
}

.padding10 {
    padding: 10px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: rgb(148, 120, 175);
}

.container1 {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background: rgb(148, 120, 175);
}