.col-2 {}

.container {
    display: flex;
}

.col-12 {

    padding: 50px 20px;
}

.col-10 {}

.border {
    border: solid 2px red;
}

.padding10 {
    padding: 10px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}